/* Transisi untuk dropdown menu */
.cart-dropdown-wrapper {
  position: relative;
}

.cart-dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.cart-dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.cart-dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.cart-dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease, transform 300ms ease;
}

.cart-container {
  width: 350px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
}

.CartProduk img {
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.CartProduk a {
  text-decoration: none;
  color: #333;
}
.Harga-Link {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}
.Harga-Link span {
  margin: auto;
  color: red;
  padding: 10px 0;
}

.Harga {
  margin-left: auto;
}

.buttonDeck {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  box-shadow: 0 0 5px black;
  transition: 0.5s;
  filter: opacity(0.5);
}
.buttonDeck:hover {
  transform: scale(1.02);
  filter: none;
  opacity: 1;
}
.buttonDeck button {
  background-color: white;
  box-shadow: none;
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  margin: 0 5px;
  transition: 0.5s;
}
.buttonDeck .Remove:hover {
  color: red;
}
.buttonDeck .Add:hover {
  color: blue;
}

.cart-container .CheckoutAll {
  display: block;
  margin-top: 10px;
  background-color: black;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1rem 0;
  transition: 0.5s;
  cursor: pointer;
}
.CheckoutAll:hover {
  background-color: silver;
  box-shadow: 0 0 2px black;
  color: black;
}
ul li {
  list-style: none;
}

.CartProduk {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px black;
  margin: 20px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#navbarScrollingDropdown {
  padding-top: 4.5px;
}
.Test {
  transform: translate(-100px, 0);
  z-index: 999;
}

@media (max-width: 992px) {
  .Test {
    transform: translate(0);
  }
  .cart-container {
    width: 100%;
  }
  .CartProduk {
    flex-direction: column;
    margin-left: 5rem;
  }

  #navbarScrollingDropdown {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .CartProduk {
    margin-left: 1rem;
  }
}
