.jarak {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap;
}
.jarak button {
  width: 200px;
  padding: 0.5rem 0;
}
.harga .button-add {
  width: 120px;
}

.search-input {
  margin-left: 5rem;
}

.search-cart {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  z-index: 999;
  position: sticky;
  top: 0;

  padding-top: 1rem;
  padding-left: 3.6rem;
  transition: 0.5s;
  z-index: 999;
}
.search-cart.sticky {
  box-shadow: 0 0 5px black;
  background-color: white;
  transform: scale(1.05);
  padding-top: 1.5rem;
}

@media (max-width: 768px) {
  .jarak {
    display: none;
  }
  .search-cart {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 9999;
    padding: 0;
  }
  .search-cart .cart-input {
    padding-left: 12px;
    width: 95%;
  }
}
