.jarak {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap;
}
.jarak button {
  width: 200px;
  padding: 0.5rem 0;
}
.harga .button-add {
  width: 120px;
}

.search-input {
  margin-left: 2rem;
}

.search-cart {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 999;
  position: sticky;
  top: 0;

  z-index: 999;
}

@media (max-width: 768px) {
  .jarak {
    display: none;
  }
}
