* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: monospace;
}

.Card-Item {
  margin: 2rem 0;
  box-shadow: 0 0 10px black;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.Card-Item .ProdukLink {
  display: flex;
  align-items: center;
  text-align: start;
}
.Card-Item button {
  background-color: black;
  color: white;
  padding: 5px 1rem;
  font-family: "Courier New", Courier, monospace;
  border: none;
}

.Card-Item .pemisah-button {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Card-Item img {
  width: 100px;
  object-fit: cover;
  height: 100px;
  margin-right: 20px;
}

.Card-Item .Harga-Judul {
  display: flex;
  flex-direction: column;
}
.Card-Item .Harga-Judul .harga {
  color: red;
}

.CheckOut {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.CheckOut button {
  width: 100px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.CheckOut button:hover {
  background-color: lightblue;
  color: black;
}

@media (max-width: 768px) {
  .CheckOut {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .CheckOut button {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
  }
  .Card-Item {
    position: static;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  .Card-Item .ProdukLink {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .Card-Item button {
    background-color: black;
    color: white;
    padding: 10px 2rem;

    font-family: "Courier New", Courier, monospace;
    border: none;
  }
  .Card-Item .pemisah-button {
    position: static;
    width: 80%;

    justify-content: center;
    margin-bottom: 2rem;
  }
}
