.navbar-colappse .logout {
  width: max-content;
  font-size: 15px;
  font-family: monospace;
  background-color: black;
  color: white;
  box-shadow: 0 0 2px black;
  width: 150px;
}
.navbar-colappse .logout:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .navbar-colappse .logout {
    margin-top: 2rem;
    transform: translate(100%);
    margin-bottom: 2rem;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
