#navbarScroll .logout-button {
  width: 100px;
  height: auto;
  font-size: 10px;
  background-color: black;
  box-shadow: none;
}

#navbarScroll .logout-button:hover {
  background-color: white;
  box-shadow: 0 0 10px black;
  color: black;
}
