.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-card {
  background-color: white;
  width: 300px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
.link-produk {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.container-card img {
  width: 100%;
  height: 200px;

  object-fit: contain;
}

.nama-produk h1 {
  font-size: 20px;
  text-align: center;
  font-family: monospace;
  height: 50px;
  overflow: hidden;
  margin-top: 20px;
  padding: 0 1rem;
}
.nama-produk .card-description {
  padding: 1.9rem;
  height: 100px;
  overflow: hidden;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.nama-produk .harga {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.nama-produk .harga span {
  color: red;
}

.nama-produk .harga a {
  text-decoration: none;
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nama-produk .harga a:hover {
  color: silver;
}

.atur p {
  transform: translate(0, 30vh);
  font-size: 100px;
  font-family: monospace;
  color: silver;
}
.container-card {
  text-decoration: none;
  color: black;
  transition: 1s;
}
.container-card:hover {
  transform: scale(1.05);
}
.card-container button {
  background-color: black;
  border: none;
  color: white;
  box-shadow: 0 0 5px black;
  padding: 2px 10px;
}

.navbar-colappse button {
  width: max-content;
  font-size: 15px;
  font-family: monospace;
  background-color: black;
  color: white;
  box-shadow: 0 0 2px black;
  width: 150px;
}
.navbar-colappse button:hover {
  color: black;
  background-color: white;
}

button:hover {
  background-color: lightblue;
  color: black;
}

@media (max-width: 768px) {
  .atur p {
    font-size: 50px;
  }
  .container-card {
    gap: 2rem;
  }
  .harga {
    flex-direction: column;

    text-align: center;
  }
  .harga span {
    font-size: 20px;
  }
  .harga button {
    transform: translate(0, 20px);
    padding: 1rem 0;
  }
  .navbar-colappse button {
    margin-top: 2rem;
    transform: translate(115%);
    margin-bottom: 2rem;
  }
}
